/constructor_player/Release/*.obj
/constructor_player/Release/vc143.pdb
/constructor_player/x64/Release/MAXplayer vc2008.vcxproj.FileListAbsolute.txt
/constructor_player/x64/Release/MAXplayer vc2008.log
/constructor_player/.vs/MAXplayer vc2012/FileContentIndex/6909b4cb-6e7f-45b5-80c5-fa7fdb9bd156.vsidx
/constructor_player/.vs/MAXplayer vc2012/FileContentIndex/read.lock
/constructor_player/.vs/MAXplayer vc2012/v17/.suo
/constructor_player/.vs/MAXplayer vc2012/v17/Browse.VC.db
/constructor_player/.vs/MAXplayer vc2012/v17/Browse.VC.db-shm
/constructor_player/.vs/MAXplayer vc2012/v17/Browse.VC.db-wal
/constructor_player/.vs/MAXplayer vc2012/v17/Browse.VC.opendb
/constructor_player/x64/Release/MAXplayer 11.Build.CppClean.log
/constructor_player/x64/Release/MAXplayer 11.tlog/CL.command.1.tlog
/constructor_player/x64/Release/MAXplayer 11.tlog/MAXplayer 11.lastbuildstate
/constructor_player/x64/Release/MAXplayer 11.tlog/unsuccessfulbuild
/constructor_player/x64/Release/FindLightByName1.obj
/constructor_player/x64/Release/MAXplayer 11.tlog/CL.read.1.tlog
/constructor_player/x64/Release/MAXplayer 11.tlog/CL.write.1.tlog
/constructor_player/x64/Release/MAXplayer 11.tlog/link.command.1.tlog
/constructor_player/x64/Release/MAXplayer 11.tlog/link.read.1.tlog
/constructor_player/x64/Release/MAXplayer 11.tlog/link.write.1.tlog
/constructor_player/x64/Release/MAXplayer 11.tlog/rc.command.1.tlog
/constructor_player/x64/Release/MAXplayer 11.tlog/rc.read.1.tlog
/constructor_player/x64/Release/MAXplayer 11.tlog/rc.write.1.tlog
/constructor_player/x64/Release/RCa06864
