[submodule "OpenSceneGraph"]
	path = OpenSceneGraph
	url = https://github.com/openscenegraph/OpenSceneGraph.git
[submodule "VR_XR_AR/osgXR"]
	path = VR_XR_AR/osgXR
	url = https://github.com/amalon/osgXR
[submodule "VR_XR_AR/osgopenvrviewer"]
	path = VR_XR_AR/osgopenvrviewer
	url = https://github.com/ChrisDenham/osgopenvrviewer
[submodule "VR_XR_AR/osgoculusviewer"]
	path = VR_XR_AR/osgoculusviewer
	url = https://github.com/bjornblissing/osgoculusviewer
[submodule "Vulcan/VulkanSceneGraph"]
	path = Vulcan/VulkanSceneGraph
	url = https://github.com/vsg-dev/VulkanSceneGraph
[submodule "Vulcan/osgQt"]
	path = Vulcan/osgQt
	url = https://github.com/openscenegraph/osgQt
[submodule "OPCUA/open62541_Unity"]
	path = OPCUA/open62541_Unity
	url = https://github.com/maximum2000/open62541_Unity
[submodule "IEEE1516/OpenRTI_Unity"]
	path = IEEE1516/OpenRTI_Unity
	url = https://github.com/maximum2000/OpenRTI_Unity
